<div class="container">
    <header @enterHeader class="title">
        <h1>Dialog łączy,</h1>
        <h2>Porozmawiajmy</h2>
    </header>
    <div class="contact">
        <div @enterLeft class="label email">
            <i class="fas fa-envelope"></i>
            <p>kasiadepczynskapl@gmail.com</p>
        </div>
        <div @enterRight class="label phone">
            <i class="fas fa-mobile-alt"></i>
            <p>667 639 032</p>
        </div>
    </div>
    <img src="../../assets/images/contact.png" alt="woman mail phone">
</div>